body{
    background-color: greenyellow;
    color: white;
}
#wyslij{
    color: white;
    text-transform: uppercase;
    background-color: orange;
    border: 1px solid blue;
}
#errors{
    color: red;
}